<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manutenção</title>
    <style>
        body { text-align: center; padding: 50px; }
        h1 { font-size: 50px; }
        body { font: 20px Helvetica, sans-serif; color: #333; }
        article { display: block; text-align: left; width: 650px; margin: 0 auto; }
        a { color: #dc8100; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
    <article>
        <h1>Em Manutenção</h1>
        <div>
            <p>Desculpe pelo transtorno, estamos realizando algumas manutenções. Por favor, volte mais tarde.</p>
            <p>&mdash; Equipe da Loja</p>
        </div>
    </article>
</body>
